.aboutpage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.about-me {
    padding-left: 150px;
    padding-right: 150px;
    text-indent: 88px;
}

@media (max-width: 1050px ) {

.about-me {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    text-indent: 0px;
    margin: 15px;
}
 #about {
    height: 100%;
    opacity: 0.8;
 }

h1 {
    font-size: 20px;
    padding-top: 120px;
}

}







